<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Register</h1>
                <form [formGroup] = "registerForm" (ngSubmit)= "onRegister()">
                    <fieldset class="log-in-form">
                        <div class="form-group">
                            <label for="InputFirstName1">First Name</label>
                            <input  class="form-control" formControlName = "firstName" required aria-describedby="emailHelp" placeholder="Enter first name" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                        </div> 
                        <div class="form-group">
                            <label for="InputLastName1">Last Name</label>
                            <input class="form-control" formControlName = "lastName" required aria-describedby="emailHelp" placeholder="Enter last name" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                        </div>    
                        <div class="form-group">
                            <label for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" formControlName = "email" required aria-describedby="emailHelp" placeholder="Enter email" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="InputUsername1">Username</label>
                            <input class="form-control" formControlName = "username" required placeholder="Enter username" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                        </div> 
                        <div class="form-group">
                            <label for="InputPassword1">Password</label>
                            <input type="password" class="form-control" formControlName = "password" required placeholder="Password" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                            <small id="emailHelp" class="form-text text-muted">Your password must be at least 6 characters.</small>
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px;">Register</button>
                    </fieldset>
                </form>
                <div class="form-group">
                    <p class="text-center" style="margin-top:30px;">Do you have an acount? <a [routerLink] = "['/login']"> Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>