<!--Main Navigation-->
<header class="intro-header">
  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5" style="align-items: center;">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="legend" data-wow-delay="0.3s"
                style="color: white; font-weight: 800; font-size: 60px; margin-top: 2rem;"><strong>NightFlow</strong>
              </h2>
              <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                  <input class="search__input" type="text" placeholder="Search" [formControl]="searchPlace" (keydown)="OnKeyDown($event)">
                </div>
              </div>
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"
                style="font-size:15px; font-weight: 500; padding-top: 20px; margin: 0px; color: #ffffff;"><strong>Una
                  nueva forma de hacer tus planes nocturnos</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->
<footer class="mastfoot mt-auto pr-0 pl-0" style="text-align: center; font-size: 8px;">
  <div class="inner">
    <p>
      Diseñado y progamado por Luis Pedro Cuéllar y José Block
    </p>
  </div>
</footer>

<style>
  body {
    background-image: url(../img/dj1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }
</style>