<!--Main Navigation-->
<header class="intro-header">
  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5" style="align-items: center;">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="legend" data-wow-delay="0.3s"
                style="color: white; font-weight: 800; font-size: 60px; margin-top: 3rem;"><strong>NightFlow</strong>
              </h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s"
                style="color: white; background-color: white;">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"
                style="font-size:15px; font-weight: 500; padding-top: 0px; margin: 0px; color: #ffffff;"><strong>Una
                  nueva forma de hacer tus planes nocturnos</strong></h5>
            </div>
            <div class="container"  style="margin-top: 2rem; text-align: center;">
              <div class="row" style="margin-top: 2rem;">
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/iconsRestaurant.png" (click)="goSearch('Restaurantes')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content;" (click)="goSearch('Restaurantes')">Restaurantes</a>
                  </div>
                </div>
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/iconsCine.png"(click)="goSearch('Compras')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content;" (click)="goSearch('Compras')">Cine</a>
                  </div>
                </div>
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/icons8-cocktail-100 (1).png" (click)="goSearch('Nightlife')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content;" (click)="goSearch('Nightlife')">Nightlife</a>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 2rem;">
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/iconsCoffee.png" (click)="goSearch('Coffe Shops')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content;" (click)="goSearch('Coffee Shops')">Coffee Shops</a>
                  </div>
                </div>
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/iconsSchedule.png" (click)="goSearch('Postres')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content;" (click)="goSearch('Postres')">Eventos</a>
                  </div>
                </div>
                <div class="col-sm" style="margin-top: 0.5rem;">
                  <div style="background-color: rgba(0,0,0, 0.7);width: fit-content;margin: 0 auto; border-radius: 10%;">
                    <img src="../../assets/img/iconsFlag.png" (click)="goSearch('Actividades')" style="cursor: pointer;">
                    <a class="nav-link" style="cursor: pointer; color: white;margin: 0 auto;width:fit-content; " (click)="goSearch('Actividades')">Actividades</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->
<footer class="mastfoot mt-auto pr-0 pl-0" style="text-align: center; font-size: 8px;">
  <div class="inner">
    <p>
      Diseñado y progamado por Luis Pedro Cuéllar y José Block
    </p>
  </div>
</footer>

<style>
  body {
    background-image: url(../img/rombo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }
</style>