<div class="row" style="align-items: center;">
    <div class="mx-auto mt-5" *ngIf="user$ | async as user; else loading">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Email sent</div>
                <div class="card-body">
                <h4 class="card-title">Thank you for registering to NightFlow</h4>
                <p class="card-text">Please go to <strong>{{ user?.email }}</strong> and click on the link to verify your account!</p>
                <div style="width: 100%; padding-top: 10px;">
                    <button type="button" class="btn btn-success btn-block" (click)="onSendEmail()" style="border-radius: 20px;">Resend verification email</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>