<div class="container">
    <div class="card" style="width: 80%; margin: auto;">
      <div class="card-body">
        <h5 class="card-title">Bar</h5>
        <p class="card-text">Un par de palabras de descripcion. Un par de palabras de descripcion. Un par de palabras de descripcion.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Ver comentarios</a>
        </div>
      </div>
      <img src="../../assets/img/bar.png" class="card-img-top" alt="bar">           
    </div>
</div>

