<div class="container">
    <h1 class="title" style="margin-top: 2rem;">CATEGORIES</h1>

    <blockquote class="blockquote text-center" style="margin-top: 2rem;">
        <p class="mb-0">Queremos pasar una noche inolvidable, los impulsos por salir de tu vida rutinaria te generan una expectativa que a veces no resulta. El tiempo invertido en salir se volvió en una noche aburrida. ¿Qué podría ayudarme a saber dónde pasar mi tiempo recreativo y qué esperar de esta noche? Queremos ayudar a las personas a encontrar su ambiente, como un match para que puedan pasar un buen rato o incluso una noche inolvidable llena de anécdotas.</p>
    </blockquote>

    <div class="container"  style="margin-top: 2rem; text-align: center;">
        <div class="row" style="margin-top: 2rem;">
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-restaurant-100 (1).png" (click)="goSearch('Restaurantes')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Restaurantes')">Restaurantes</a>
            </div>
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-shopping-bag-100 (1).png"(click)="goSearch('Compras')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Compras')">Compras</a>
            </div>
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-cocktail-100 (1).png" (click)="goSearch('Nightlife')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Nightlife')">Nightlife</a>
            </div>
        </div>
            <div class="row" style="margin-top: 2rem;">
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-cafe-100.png" (click)="goSearch('Coffe Shops')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Coffee Shops')">Coffee Shops</a>
            </div>
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-confectionery-100.png" (click)="goSearch('Postres')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Postres')">Postres</a>
            </div>
            <div class="col-sm" style="margin-top: 0.5rem;">
                  <img src="../../assets/img/icons8-trekking-100.png" (click)="goSearch('Actividades')" style="cursor: pointer;">
                  <a class="nav-link" style="cursor: pointer;" (click)="goSearch('Actividades')">Actividades</a>
            </div>
            </div>
    </div>

</div>