<!-- Showing students data -->
<div class="table-responsive" *ngIf="hideWhenNoStudent">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Name Id</th>
          <th scope="col">avgScore</th>
          <th scope="col">category</th>
          <th scope="col">phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Student array and fetch the student's data -->
        <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
        <tr *ngFor="let student of Student | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <th scope="row">{{place.name}}</th>
          <td>{{place.address}} {{place.schedule}}</td>
          <td>{{place.price}} {{place.avgScore}}</td>
          <td>{{place.phone}}</td>
          <td class="text-center action-block">
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>