<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Reset Your Password</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="padding-top: 10px;">Please enter your email address below</label>
                        <input type="email" class="form-control" [formControl]= "userEmail" required aria-describedby="emailHelp" placeholder="Enter email" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px;" (click)="onReset()">Send Password Reset</button>
            </div>
        </div>
    </div>
</div>